

.servicesWrap {
        
    display: block;
    color: black;
        
}

.services {

    margin-top: 5vh;
    

}
  


.pictureHeaderDiv{ 
    
    text-align: left;
    margin-top: 100px;
    padding-top: 80px;
    height: 1200px;
    background-image: url("../../../../assets/img/appdev3.jpg");
    background-size: cover;
      
  }



  .title {

    color: black;
    max-width: 1000px; 
    margin-left: 3vw;
  

    
  }

  
  .subTitle {

    color: black;
    max-width: 900px; 
    margin-left: 3vw;
    
  }



  @media only screen and (max-width: 1620px) {
    .pictureHeaderDiv {
      height: 800px;
      background-image: url("../../../../assets/img/appdev4.jpg");

    }
  }


  
  @media only screen and (max-width: 600px) {

    .pictureHeaderDiv{ 
    
        text-align: center;
        margin-top: 10px;
        height: 800px;

      
          
      }


    .title {

    font-size: 7vw;
    font-weight: 700;
   
      
        
      }
    
      
      .subTitle {
    
        font-size: 6vw;

        
      }
    


    
  }


  