

 

   .featureWrap{
   
      display: inline-flex;
      justify-content: space-evenly;
      width: 100%;
      padding-top: 0px;
      padding-bottom: 300px;



   }

   .features{

    width:100%;
    max-width:30%;
    text-align: center;  
   }


  

    @media only screen and (max-width: 800px) {

   
      .featureWrap {

        flex-direction: column;
        justify-content: center;

      
      }

      .features{

        align-self: center;
        text-align: center;    
        max-width:80%;
        padding-bottom: 8vh;
      }
 

    }
    

    @media only screen and (max-width: 600px) {
      .features {
        padding-top: 4vh;


        }

      }
     
   