


.wrapper {

color: black;
width: 22vw;
height: 25vh;
margin: 10px;
text-align: center;




}

.contents {

    display: inline-block;
    margin-top: 0%;
    max-width: 97%;

}



.icon {

width:120px;
height: 120px;



}

@media only screen and (max-width: 1200px) {

    .contents h2 {
        font-size: 2.5vw;
    }


    .contents h3 {
        font-size: 1.8vw;
    }

  


}



@media only screen and (max-width: 780px) {

    .wrapper {

        width: 100%;
        margin-bottom: 30%;
        height: 35vh;
        margin: 10px !important;
        float: none !important;




    }
    .icon{
        width:80px;
        height: 80px;
    }

   
    .contents {

        display: block;
        margin-top: 50px;
        margin-left: 0px;



    }

    .contents h2 {
        font-size: 5vw;
    }


    .contents h3 {
        font-size: 4vw;
    }


    @media only screen and (max-width: 375px) {

        .wrapper {
    
            width: 100%;
            margin-bottom: 60%;
            float: "left"
    
        }

       
       
        .contents {
    
            display: block;

    
        }

       
    
    
    
    
  }

}


