.Wrapper{ 
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background: #232526;  
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to left, #414345, #232526); 

  }




  
 .Title{

    display: block;
    font-weight: 400;
    color: white;

  }
  .SubTitle{

    display: inline-block;
    width:70%;
    color: white;

    
  }




@media only screen and (max-width: 600px) {
    .Title {
      font-size: 7.5vw;
      padding: 0 5px 5px;
      font-weight: bold;
    }
    .SubTitle {
      
      font-size: 5vw;
      width: 90%;



    }

    .Wrapper{
      padding-top: 70px;
    padding-bottom: 70px;


    }

}
  