

.logo {

    width: 200px;
}


 
  .centerTitle{

    display: block;
    font-weight: 400;

  }
  .centerSubTitle{

    display: inline-block;
    width:70%;
    
  }




   
  

   
    @media only screen and (max-width: 600px) {
      .centerTitle {
        font-size: 7.5vw;
        padding: 0 5px 5px;
        font-weight: bold;
      }
      .centerSubTitle {
        
        font-size: 5vw;
        width: 90%;


        

      }
      

    
    }

  

